.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: rgb(255, 255, 255);
    
}

.card{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 20px;
    align-items: center;
    width: 400px;
}
.title{
    font-size: 20px;
    text-align: center;
}
.price{
    font-size: 20px;
}
.description{
    font-size: 15px;
    text-align: center;
}

.button{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

/*Header*/
.nav{
    display: flex;
    background-color: #ff0000;
}
.img{
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 10px;
}
 .link{
   float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 20px; 
 } 
 .titulo{
     color: #f2f2f2;
     text-align: center;
     padding: 19px 2px;
     font-size: 25px;
  } 
.carrinho{
    text-align: center;
    padding: 22px 16px;
}
 /*Footer*/
 .footer{
    display: flex;
    background-color: black;
    align-items: center;
 }